#app {
    width: 100%;
    height: 800px;
    background-color: #ff8cdb;

}

#games {
    width: 100%;
    height: 800px;
    background-color: #ff0000;

}

img:hover {
    transform: scale(0.9);

}

img {
    transition: transform .2s;
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: aquamarine;
}
body{
    text-align: center;
}
